version: '3.8'

services:
  backend:
    build: ./backend
    container_name: fincrawl_backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://fincrawl:password@postgres:5432/fincrawl_db
      - REDIS_URL=redis://redis:6379/0
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET=fincrawl-raw
      - MINIO_SECURE=false
    depends_on:
      - postgres
      - redis
      - minio

  worker:
    build: ./backend
    container_name: fincrawl_worker
    command: celery -A app.worker.tasks worker --loglevel=info
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=postgresql://fincrawl:password@postgres:5432/fincrawl_db
      - REDIS_URL=redis://redis:6379/0
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET=fincrawl-raw
      - MINIO_SECURE=false
    depends_on:
      - backend
      - redis
      - postgres
      - minio

  postgres:
    image: postgres:15
    container_name: fincrawl_postgres
    environment:
      POSTGRES_USER: fincrawl
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fincrawl_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: fincrawl_redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    container_name: fincrawl_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
